apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-web
spec:
  replicas: 2                # ✅ chỉ chạy 1 pod Flask
  selector:
    matchLabels:
      app: flask-web
  template:
    metadata:
      labels:
        app: flask-web
    spec:
      containers:
        - name: flask-web
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 5000            # ✅ Flask app chạy port 5000
          env:
            - name: MYSQL_HOST
              value: "mysql"
            - name: MYSQL_DATABASE
              value: "{{ .Values.mysql.database }}"
            - name: MYSQL_USER
              value: "{{ .Values.mysql.user }}"
            - name: MYSQL_PASSWORD
              value: "{{ .Values.mysql.password }}"

