apiVersion: v1
kind: Service
metadata:
  name: haproxy
spec:
  type: NodePort
  selector:
    app: haproxy
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: {{ .Values.service.nodePort }}
    - name: stats
      port: 8404
      targetPort: 8404

