global
    log stdout format raw local0
    maxconn 4096
    nbthread 2

defaults
    log global
    mode http
    option httplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend flask_back

backend flask_back
    balance roundrobin
    option httpchk GET /
    # ⚙️ Dùng DNS nội bộ service của K8s:
    server web1 flask-web.default.svc.cluster.local:80 check
    server web2 flask-web.default.svc.cluster.local:80 check

listen stats
    bind *:8404
    stats enable
    stats uri /haproxy?stats
    stats auth admin:123456

